a
{
    color: #337ab7;
}

p
{
    margin-top: 1rem;
    text-align: center;
}

a:hover
{
    color: #23527c;
}

a:visited
{
    color: #8d75a3;
}

body
{
    line-height: 1.5;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: black;
    margin: 2em;
}

h1
{
    text-decoration: underline red;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    font-size: 220%;
    font-weight: bold;
    text-align: center;
}

h2
{
    font-weight: bold;
    color: #005A9C;
    font-size: 140%;
    text-transform: uppercase;
}

red
{
    color: red;
}

#controls
{
    display: flex;
    margin-top: 2rem;
    max-width: 28em;
    margin: 0 auto;
}

button
{
    flex-grow: 1;
    height: 3.5rem;
    min-width: 2rem;
    border: none;
    border-radius: 0.15rem;
    background: #ed341d;
    margin-left: 2px;
    box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

button:hover,
button:focus
{
    outline: none;
    background: #c72d1c;
}

button::-moz-focus-inner
{
    border: 0;
}

button:active
{
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

button:disabled
{
    pointer-events: none;
    background: lightgray;
}

button:first-child
{
    margin-left: 0;
}

audio
{
    display: block;
    width: 100%;
    margin-top: 0.2rem;
}

li
{
    list-style: none;
    margin-bottom: 1rem;
}

#formats
{
    margin-top: 0.5rem;
    font-size: 80%;
    text-align: center;
}

#recordingsList
{
    max-width: 28em;
    text-align: center;
}

.center
{
    text-align: center;
    list-style-position: inside;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#audio
{
    text-align: center;
}